h2{
    text-transform:uppercase;
}

#navbarSupportedContent{
    margin-left: 50px;  
}

body{
    background-color: rgb(17, 17, 17);
    color: #fff;
}




main{
    background-color: rgb(17, 17, 17);
    color: #fff;  
}



#rowfooter{
    background-color: rgb(160, 89, 31);
    color: black;
}

#DP{
    margin-left:200px ;
}


