
h2{
    text-transform:uppercase;
}

#navbarSupportedContent{
    margin-left: 50px;  
}

body{
    background-color: rgb(17, 17, 17);
    color: #fff;
}

#rowfooter{
    background-color: rgb(160, 89, 31);
    color: black;
}

#DP{
    margin-left:200px ;
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-title{
    color: black;
}

#modalinfor{
    
}